<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!-- Servlets -->
  <servlet>
    <servlet-name>dataProviderServlet</servlet-name>
    <servlet-class>ca.on.mshri.tmcurator.server.DataProviderServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>dataProviderServlet</servlet-name>
    <url-pattern>/TmCurator/data</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>ca.on.mshri.tmcurator.server.LoginServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/TmCurator/login</url-pattern>
  </servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>TmCurator.html</welcome-file>
  </welcome-file-list>

</web-app>
